body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(123,191,137,1) 24%, rgba(0,212,255,1) 100%);
}
.row {
  margin: 100px 0;
}

#login-col {
  padding: 25px;
  background: white;
}

.btn {
  margin: 10px 0;
}

.form-control {
  font-size: 12px;
}